<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
 	<!-- Refere-se ao nome da aplicação -->
	<display-name>Vvendas2.0</display-name>
	
	
	<!-- Arquivo que será carregado quando você executar o projeto -->
	<welcome-file-list>
			<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	
	<!-- Estágio do Projeto - "Development" ou "Production" -->
	<context-param>
	        <param-name>javax.faces.PROJECT_STAGE</param-name>
	        <param-value>Development</param-value>
    </context-param>
    
    
    <!-- Tema do PrimeFaces -->
    <!-- "afterdark", "afternoon", "afterwork", "aristo", "black-tie", "blitzer", 
    "bluesky", "casablanca", "cruze", "cupertino", "dark-hive", "dot-luv", "eggplant",
    "excite-bike", "flick", "glass-x", "home", "hot-sneaks", "humanity", "le-frog",
    "midnight", "mint-choc", "overcast", "pepper-grinder", "redmond", "rocket", "sam",
    "smoothness", "south-street", "start", "sunny", "swanky-purse", "trontastic", 
    "twitter bootstrap", "ui-darkness", "ui-lightness", "vader" -->
<!-- 	<context-param> -->
<!-- 			<param-name>primefaces.THEME</param-name> -->
<!-- 			<param-value>home</param-value> -->
<!-- 	</context-param> -->
  
  
    <!-- Configuração do JSF -->
    <!--  Nesta parte da configuração nós dissemos para o JSF que todo arquivo que tenha a extensão “.xhtml” deve passar pelo Faces Servlet.
        O Servlet que filtra as requisições feitas pelo cliente.-->
    <servlet>
	        <servlet-name>Faces Servlet</servlet-name>
	        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	        <load-on-startup>1</load-on-startup>
    </servlet>
    
    
    <!-- Tipo de arquivo que será filtrado pelo Faces Servlet. -->
    <servlet-mapping>
	        <servlet-name>Faces Servlet</servlet-name>
	        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    
    <mime-mapping>
	        <extension>woff2</extension>
	        <mime-type>application/font-woff2</mime-type>
    </mime-mapping> 
    
    <session-config>
		<session-timeout>30</session-timeout>
	</session-config>
    <context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
    <login-config>
		<!-- NONE, BASIC, DIGEST, FORM, or CLIENT-CERT -->
		<!-- Referência: https://docs.oracle.com/javaee/7/tutorial/security-webtier002.htm#JEETT01227 -->
		<auth-method>FORM</auth-method>
		<realm-name>comercioRealm</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/wrong_password.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	<error-page>
		<error-code>403</error-code>
		<location>/acesso_negado.xhtml</location>
	</error-page>
	<security-constraint>
		<display-name>Páginas do administrador</display-name>
		<web-resource-collection>
			<web-resource-name>Área protegida do administrador</web-resource-name>
			<description></description>
			<url-pattern>/admin/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
			<http-method>CONNECT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<!-- CONFIDENTIAL, INTEGRAL, or NONE -->
			<!-- Referência: https://docs.oracle.com/javaee/7/tutorial/security-webtier002.htm#JEETT00775 -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Acesso permitido a todos</display-name>
		<web-resource-collection>
			<web-resource-name>Área não protegida</web-resource-name>
			<description />
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
			<http-method>CONNECT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>admin</role-name>
			<role-name>user</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<!-- Security roles used by this web application -->
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>user</role-name>
	</security-role>
</web-app>